
.about-background-content {
    background-image: url("../imges/about-background-2.jpg");
    background-size: cover;
    background-position: center;
    /*padding-bottom: 76px;*/
    /*padding-top: 17rem;*/
}
.about-img-content img {
    margin-left: 101px;
    margin-top: 73px;
}
.container-fluid .row .col-md-6 {
    margin-top: 64px;
    /*margin-left: 104px;*/
}
.container-fluid .row .col-md-4 {
    padding-top: 4rem !important;
}
.about-card-content-div {
    padding-top: 7rem !important;
}
.about-card-content-div .card {
    background: #f2f2f2;
    border: none;
    padding: 50px 35px;
    border-radius: 1px;
    z-index: 1;
    margin-top: 90px;
}
.about-card-content .card .about-card-text-content {}
.about-card-content-div .card .about-card-text-content h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 50px;
}
.about-card-text-content p {
    font-size: 15px;
    color: #000000c4;
    margin-top: 20px;
    line-height: 28px;
}
.about-card-text-content button {
    border: 2px solid rgba(0, 0, 0, 0.91);
    border-radius: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    padding: 11px 35px;
    letter-spacing: 3px;
    font-weight: 300;
    margin-top: 11px;
}
.about-card-text-content button:hover {
    background: rgba(0, 0, 0, 0.91);
    color: white;
}
.about-img-link {}
.about-img-link p {
    padding: 0 !important;
    color: #000000b0 !important;
    font-weight: 400;
    font-size: 16px;
    padding-top: 153px !important;
}
.about-img-link p span {
    text-decoration: underline;
    cursor: pointer;
}