
.navbar-light .navbar-toggler {
    border: none;
}
.navbar-nav .nav-item .nav-link {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: black;
}
.navbar-nav .nav-item {
    margin: 0 10px;
    font-family: 'Oswald', sans-serif;
}